 <link rel="stylesheet" href="{{ asset('assets/css/haha.css') }}">
{% for user in name  %}
  {{ dump(user)}}
  <h3>Hello  ! {{user.name}}</h3>
  <h2>Hello  ! {{user.description_detail}}</h2>
{% endfor %}
